body {
    font-family: arial;
    text-align: center;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper div, #wrapper ul {
    width: 80%;
    max-width: 400px;
}

ul {
    padding: 0px;
}

#title {
    font-size: 20px;
    font-weight: bold;
    background: white;
    padding: 10px;
}

.alternative {
    list-style-type: none;
    margin-bottom: 4px;
    padding: 10px;
    background: #E6E6E6;
    text-align: left;
    border-radius: 3px;
}

.alternative:hover {
    cursor: pointer;
    opacity: 0.8;
}

#result {
    font-weight: bold;
}

#score, #result {
    color: black;
}

#btn {
    border: none;
    border-radius: 3px;
    background-color: rgb(39, 95, 235);
    color: white;
    width: 100px;
    float: right;
    margin-top: 20%;
    padding: 5px;
}

#btn:hover {
    background-color: rgb(178, 183, 196);
    color: rgb(34, 31, 31);
    cursor: pointer;
}