 body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display:"block";
}

#favicon {
  border-radius: 50%;
}

  /* Navigation | Mobile View */

@media only screen and (min-width: 320px) and (max-width: 768px) {

  .topnav {
    overflow: hidden;
    background-color: #007DC1;
    position: relative;
    text-align: center;
  }

  .topnav #myLinks {
    display: none;
    background-color: #333;
    z-index: -1;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: #007DC1;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .logo {
    background-color: #007DC1;
    color: white;
    text-decoration: none;
    text-align: left;
  }
}

/* Navigation | Laptop/Desktop View */

@media only screen and (min-width: 769px){
  .topnav {
    display: flex;
    justify-content:  space-between;
    background-color: #007DC1;
    padding: 14px 16px;
  }

  .logo {
    background-color: #007DC1;
    color: white;
    text-decoration: none;
  }

  #myLinks a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding-right: 20px;
  }

  #myLinks a:hover {
    color: #66E689;
    cursor: pointer;
  }

  .topnav a.icon {
    display: none;
  }
}

/* Header | Mobile View */

@media only screen and (min-width: 320px) and (max-width: 413px) {

  .header-text_container {
    padding: 20px 28px 0 28px;
  }

  .header-text {
    font-size: 30px;
    color: #007DC1;
  }

  .header-text_container > p {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .header-button {
    background-color: #007DC1;
    border: none;
    padding: 18px;
    color: white;
    width: 100%;
    outline: none;
    border-radius: 5px;
    font-weight: 900;
  }

  .header-image_container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .header-image_link > img {
    width: 100%;
    padding-top: 20px;
  }

}

@media only screen and (min-width: 414px) and (max-width: 768px) {

  .header-text_container {
    padding: 20px 28px 0 28px;
  }

  .header-text {
    font-size: 45px;
    color: #007DC1;
  }

  .header-text_container > p {
    font-size: 16px;
    color: #8f8b8b;
    padding-bottom: 10px;
  }

  .header-button {
    background-color: #007DC1;
    border: none;
    padding: 18px;
    color: white;
    width: 100%;
    outline: none;
    border-radius: 5px;
    font-weight: 900;
  }

  .header-image_container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .header-image_link {
    text-decoration: none;
  }

  .header-image_link > img {
    width: 100%;
    padding-top: 20px;
  }

}

/* Header | Laptop/Desktop View */

@media only screen and (min-width: 769px){

  .header-container {
    display: grid;
    grid-template-columns: auto(2, 1fr);
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-text_container {
    grid-column: 1;
    width: 700px;
    padding: 160px 0 0 60px;
  }

  .header-text {
    font-size: 60px;
  }

  .header-text_container > p {
    font-size: 26px;
    color: rgb(96, 93, 93);
  }

  .header-button {
    background-color: #007DC1;
    border: none;
    padding: 18px;
    color: white;
    width: 200px;
    outline: none;
    border-radius: 5px;
    font-weight: 900;
  }

  .header-button:hover {
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.53);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.53);
    color: #66E689;
  }

  .header-image_container {
    grid-column: 2;
    align-content: left;
    justify-content: left;
  }

  .header-image_link {
    text-decoration: none;
  }

  .header-image_link > img {
    width: 900px;
    padding-top: 80px;
    
  }
}

/* Footer */

/* #footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#pro-img {
  width: 28px;
  border-radius: 50%;
  position: relative;
  top: 8px;
}

#link {
  color: #007DC1;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#link:hover {
  color: black;
  cursor: pointer;
} */

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007DC1;;
  text-align: center;
  border-top: 1px solid #007DC1;
}

#pro-img {
  width: 28px;
  border-radius: 50%;
  margin-bottom: -8px;
}

#link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#link:hover {
  color: #66E689;
  cursor: pointer;
}

/* Media Queries */

/* 
* 320px — 480px: Mobile devices
* 481px — 768px: iPads, Tablets
* 769px — 1024px: Small screens, laptops
* 1025px — 1200px: Desktops, large screens
* 1201px and more —  Extra large screens, TV 
*/