body {
    display: block;
    margin: 0;
    padding: 0;
}

#app-wrapper {
    min-width: 375px;
    margin: auto;
    text-align: left;
}

#image-content {
    width: 50px;
}

#image-content > img {
    padding-top: 10px;
}

#app {
    margin-top: 20px;
    padding: 2px;
}

li {
    list-style-type: none;
}