 body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

  /* Navigation | Mobile View */

@media only screen and (min-width: 320px) and (max-width: 768px) {

  .topnav {
    overflow: hidden;
    background-color: #007DC1;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .topnav #myLinks {
    display: none;
    background-color: #333;
    z-index: -1;
    
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    letter-spacing: normal;
  }

  .topnav a.icon {
    background: #007DC1;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 900;
  }

  .logo {
    background-color: #007DC1;
    color: white;
    text-decoration: none;
    text-align: left;
    font-weight: 900;
  }
}

/* Navigation | Laptop/Desktop View */

@media only screen and (min-width: 769px){
  .topnav {
    display: flex;
    justify-content:  space-between;
    background-color: #007DC1;
    padding-top: 20px;
    width: 100%;
  }

  .logo {
    background-color: #007DC1;
    color: white;
    text-decoration: none;
    font-weight: 900;
    padding: 0 0 20px 6px;
    font-size: 18px;
  }

  .logo:hover {
    color: black;
    cursor: pointer;
  }

  #myLinks a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
    font-weight: 900;
  }

  #myLinks a:hover {
    color: black;
    cursor: pointer;
  }

  .topnav a.icon {
    display: none;
  }
}

/* Main Wrapper */

.wrapper {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

/* Header | Mobile View */

@media only screen and (min-width: 320px) and (max-width: 413px) {

  .header-container {
    padding-bottom: 10px;
  }

  .header-text_container {
    padding: 20px 28px 0 28px;
  }

  .header-text {
    font-size: 30px;
    letter-spacing: 0.5px;
  }

  .header-text_container > p {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #5b5656;
    padding-bottom: 10px;
    line-height: 1.2;
  }

  .header-button {
    background-color: #007DC1;
    border: none;
    padding: 18px;
    color: white;
    width: 100%;
    outline: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    font-size: 16px;
  }

  .header-image_container {
    text-align: center;
    padding-top: 20px;
  }

  .header-image_link > img {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

}

/* Header Tablet View */
@media only screen and (min-width: 414px) and (max-width: 1024px) {

  .header-text_container {
    padding: 20px 28px 0 28px;
    text-align: left;
  }

  .header-text {
    font-size: 60px;
    letter-spacing: 0.7px;
  }

  .header-text_container > p {
    font-size: 22px;
    color: #5b5656;
    padding-bottom: 10px;
    letter-spacing: 0.7px;
    line-height: 1.2;
  }

  .header-button {
    background-color: #007DC1;
    border: none;
    padding: 18px;
    color: white;
    width: 100%;
    outline: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    font-size: 18px;
  }

  .header-image_container {
    text-align: center;
    padding-top: 20px;
  }

  .header-image_link {
    text-decoration: none;
  }

  .header-image_link > img {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

}

/* Header | Laptop/Desktop View */

@media only screen and (min-width: 1025px){

  .header-container {
    display: grid;
    grid-template-columns: auto(2, 1fr);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header-text_container {
    grid-column: 1;
    width: 80%;
    padding: 180px 0 0 60px;
    text-align: left;
  }

  .header-text {
    font-size: 50px;
    letter-spacing: 1px;
  }

  .header-text_container > p {
    font-size: 20px;
    color: rgb(96, 93, 93);
    padding-bottom: 10px;
    letter-spacing: 0.5px;
    line-height: 1.3;
  }

  .header-button {
    background-color: #007DC1;
    border: none;
    padding: 18px;
    color: white;
    width: 200px;
    outline: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    font-size: 18px;
  }

  .header-button:hover {
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.53);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.53);
    color: black;
  }

  .header-image_container {
    grid-column: 2;
    width: 100%;
  }

  .header-image_link {
    text-decoration: none;
  }

  .header-image_link > img {
    width: 900px;
  }
}

/* Footer  */

#footer {
  position: relative;
  width: 100%;
  text-align: center;
  height: 3.5rem;
  margin-top: auto;
}

#pro-img {
  width: 28px;
  border-radius: 50%;
  position: relative;
  top: 8px;
}

#link {
  color: Black;
  text-decoration: none;
  font-size: 16px;
}

#link:hover {
  color: black;
}